---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "@/components/FormattedDate.astro";
import { Seasons, SEASONS } from "@/consts";
import { cn } from "@/utils/cn";
import RootLayout from "./RootLayout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  readingTime?: string;
};

const { title, description, pubDate, readingTime } = Astro.props;

const month = new Date(pubDate).getMonth();
const season = SEASONS.at(month) as Seasons;
---

<RootLayout title={title} description={description} season={season}>
  <article class="grid grid-flow-row grid-cols-1 pt-5 sm:pt-10">
    <h1 class={cn("text-4xl", "m-0", "mb-4")}>
      {title}
    </h1>

    <div class="flex items-center gap-4">
      <span
        class="px-3 py-1 text-xs uppercase rounded-lg rounded-bl-md bg-season-text/10"
      >
        {readingTime}
      </span>
      /
      <FormattedDate date={pubDate} />
    </div>

    <hr class="mt-10 mb-20 border-dashed border-season-text/15" />

    <div class="w-full shrink-1">
      <slot />
    </div>
  </article>
</RootLayout>
