---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "@/components/FormattedDate.astro";
import { Seasons, SEASONS } from "@/consts";
import { cn } from "@/utils/cn";
import RootLayout from "./RootLayout.astro";
import ReadingTime from "@/components/ReadingTime.astro";

type Props = CollectionEntry<"blog">["data"] & {
  readingTime?: string;
};

const { title, description, pubDate, updatedDate, readingTime } = Astro.props;

const month = new Date(pubDate).getMonth();
const season = SEASONS.at(month) as Seasons;
---

<RootLayout title={title} description={description} season={season}>
  <article class="grid grid-flow-row grid-cols-1 pt-5 sm:pt-10">
    <h1 class={cn("m-0", "mb-4")}>
      {title}
    </h1>

    <div class="flex items-center gap-4">
      <ReadingTime readingTime={readingTime} />
      /
      <FormattedDate date={pubDate} />
    </div>

    {
      !!updatedDate && (
        <p class="mb-0 text-xs font-thin text-season-text/50">
          Last updated at:
          <FormattedDate date={updatedDate} />
        </p>
      )
    }

    <hr class="mt-10 mb-20 border-dashed border-season-text/15" />

    <div class="w-full shrink-1 post">
      <slot />
    </div>
  </article>
</RootLayout>
