---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { CURRENT_SEASON, Modes, Seasons, SEASONS } from "../consts";

type Props = {
  title?: string;
  description?: string;
  season?: Seasons;
  autoDetectSeason?: boolean;
};

const { title, description, season } = Astro.props;

const seasonCookie = Astro.cookies.get("season");
const seasonCookieValue = seasonCookie?.value as Seasons;
const seasonDetected = !seasonCookieValue;

// const currentSeason = (season ||
//   seasonCookieValue ||
//   SEASONS[new Date().getMonth()]) as Seasons;

const currentSeason = (season || CURRENT_SEASON) as Seasons;

const modeCookie = Astro.cookies.get("mode");
const currentMode = (modeCookie?.value || "light") as Modes;
---

<!doctype html>
<html lang="en" class={currentMode} data-season={currentSeason}>
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="bg-inherit">
    <Header
      season={currentSeason}
      mode={currentMode}
      detectedSeason={seasonDetected}
      transition:persist="false"
    />
    <main class="relative z-[1] max-w-5xl mx-auto w-full bg-inherit" id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
